extends layout

block content
  .card-body(style="margin-top:6px;")
  .container.login-content
    .login.tab-pane.active
     .form-group
          h2.login-form
           .form-group.text-center
            i.fa.fa-lg.fa-fw.fa-cloud
            h3.text-dark(style="margin-top:-15px") Share-UNL 
          h4.text-dark Aquí podrás almacenar y compartir tus aportes con la comunidad unelina
     .card.card-body.col-md-12.ml-auto.mr-auto
      .section.login-content
        .login-form
          form.body-form
               
  
            
            .form-group.btn-container(style="margin-left: 69%; width:50%; margin-bottom: 0%; margin-top:0%;")
              button.btn.btn-success.bg-dark
                i.fa.fa-sign-in.fa-lg.fa-fw
                span Entrar      


  
            
  script(src='/javascripts/jquery.js')
  script(src='/javascripts/scripts.js')
  script(src='/javascripts/bootstrap.js')
